'use strict';

angular.module('SharengoCsApp').config(function (uiGmapGoogleMapApiProvider) {
    uiGmapGoogleMapApiProvider.configure({
        key: 'AIzaSyAJI72g18pmBzA3coDaeZXUgMVuQk-_VjY',
        v: 'weekly',
        libraries: 'weather,geometry,visualization'
    });
});
