.sng-info-box {
    border-style: solid;
    border-width: 2px;
    border-color: #E5E5E5;
    background-color: #EEEEEE;
    padding: 5px;
}
.panel-default > .panel-heading {
    color: white;
    font-weight: bold;
}
.sng-dt-right:not(th) {
    text-align: right;
}
.sng-dt-center:not(th) {
    text-align: center;
}
.sng-no-wrap {
    white-space: nowrap;
}
.sng-hint {
    font-size: 12px;
}
.sng-margin-top {
    margin-top: 10px;
}
.sng-date-column {
    width: 130px;
}
.sng-last-row {
    background-color: #FFEE99 !important;
}
