
.page-header.navbar .page-logo {
    /*height: 60px !important;*/
    background-image: url("../img/flag_nl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.login-flag-container {
    text-align: center;
}

.login-flag {
    width: 400px;
    height: 78px;
    display:block;
    background-image: url("../img/flag_nl.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    margin: 0 auto;
}

@media (max-width: 440px) {
    .login-flag {
        width: 280px;
        height: 60px;
    }
}

.login .content {
    margin: 0px auto 10px auto !important;
}